<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                GENRES
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>
<h3><%= link_to "Add genre", new_genre_path %></h3>
<hr>
<table>
    <tr>
        <th>Genre</th>
    </tr>
    <% @genres.each do |genre| %>
        <tr>
            <td><%= genre.name %> (<%= link_to "Edit", edit_genre_path(genre) %> | <%= link_to "Delete", genre_path(genre), method: :delete, data: { confirm: "Are you sure?" } %>)</td>
        </tr>
    <% end %>
</table>