<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                GENRES
            </h1>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <%= link_to "ADD GENRE", new_genre_path, class: "button is-medium is-link" %>
        <hr>
        <%= render partial: "shared/genres" %>
    </div>
</section>
