<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                ARTISTS
            </h1>
        </div>
    </div>

    <% if user_signed_in? %>
        <div class="column has-text-centered">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        <%= link_to "CREATE ARTIST PROFILE", new_artist_path, class: "button is-large is-link" %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
</section>

<section class="section is-centered">
    <%= render partial: "shared/artists" %>
</section>
