<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                CREATE ARTIST PROFILE
            </h1>
            <h2 class="subtitle is-6">
                create an artist profile in order to upload your music
            </h2>
        </div>
    </div>
</section>
<%= render "artistdetails" %>
