<h4>SEARCH ARTISTS/SONGS</h4>
<%= form_tag artist_song_search_path, method: :post do %>
    <%= label_tag :search, "Search artists/songs" %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
<% end %>