<div class="column has-text-centered">
    <div class="card">
        <div class="card-content">
            <p class="title">
                <%= link_to "SEARCH", search_path %>
            </p>
            <p class="subtitle is-6">
                search songs // artists // genres
            </p>
        </div>
    </div>
</div>