<section class="hero is-small is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                TRANSACTION CANCELLED
            </h1>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <h3><%= link_to "Return to Song Page", song_path(), class: "button is-black" %></h3>
    </div>
</section>