<section class="hero is-small is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                TRANSACTION CANCELLED
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>
<h3><%= link_to "Return to Song Page", song_path() %></h3>