<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SONGS
            </h1>
        </div>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <% if user_signed_in? && current_user.has_role?(:artist) %>
            <%= link_to "UPLOAD SONG", new_song_path, class: "button is-medium is-link" %>
            <hr>
        <% end %>
        <%= render partial: "shared/songs" %>
    </div>
</section>

<section class="section is-centered">
    <div class="container">
        <%= will_paginate @songs %>
    </div>
</section>