<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                SEARCH ARTISTS // SONGS
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>

<div><%= render partial: "shared/search_artist_song" %></div>

<h3>Search Results for "<%= @search %>"</h3>

<% @results.each do |result| %>
    <%= link_to result.artist.name, result.artist %> - <%= link_to result.name, result %><br>
<% end %>
