<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= @genre.upcase %> SONGS
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>

<section class="section is-centered">
    <%= render partial: "shared/songs" %>
</section>