<h1>SOUND // VISION</h1>
<h5>music market for media content creators</h5>

<div><%= render partial: "shared/search_artist_song" %></div>

<div><%= render partial: "shared/search_genre" %></div>

<h3>ARTIST SPOTLIGHT</h3>
<% @artists.each do |artist| %>
    <p><%= image_tag artist.image, width: 50  %> <%= link_to artist.name, artist_path(artist) %></td></p>
<% end %>
