<section class="hero is-small is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                YOUR PURCHASED SONGS
            </h1>
            <h2 class="subtitle is-6">
            
            </h2>
        </div>
    </div>
</section>

<table>
    <tr>
        <th></th>
        <th>Artist</th>
        <th>Song</th>
        <th>Download</th>
    </tr>
    <% @user_songs.each do |song| %>
        <tr>
            <td>
                <% if song.artist.image.attached? %>
                    <%= image_tag song.artist.image, width: 50  %>
                <% end %>
            </td>
            <td><%= link_to song.artist.name, artist_path(song.artist) %></td>
            <td><%= song.name %></td>
            <td><%= link_to "Download", rails_blob_path(song.song_file, disposition: 'attachment') %></td>
        </tr>
    <% end %>
</table>